* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font: normal 14px/20px 'Open Sans', Arial, Helvetica, sans-serif;
  color: #444;
  background: #f0f1f2;
}

.wrapper {
  max-width: 980px;
  margin: 40px auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

header, section, footer {
  margin: 40px 40px;
}

header:after, section:after, footer:after {
  clear: both;
}

.grid .unit:first-child { padding-left: 0; }
.grid .unit:last-child { padding-right: 0; }

/* Footer */

footer {
  text-align: center;
  font-size: 80%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 15px 0;
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

footer > :first-child {
  margin-top: 0;
}

footer > :last-child {
  margin-bottom: 0;
}

/* Inline elements */

section section {
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #213972;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: #216273;
}

a {
  text-decoration: none;
  color: #369;
}
a:hover {
  color: #D50;
}

strong {
  font-weight: 600;
  color: black;
}

figure {
  text-align: center;
}

/* Tables */

table {
  border-collapse: collapse;
  width: 100%;
  margin: .5em 0;
  border: 1px solid #0F5494;
}

tr {
  vertical-align: top;
}
tr:nth-child(even) {
  background-color: #eeeeec;
}

th, td {
  padding: 2px 1em;
}

th {
  text-align: left;
  white-space: nowrap;
  font-weight: 600;
  background-color: #0F5494;
  color: white;
}

table ol,
table ul {
  margin: 0;
  padding-left: 1em;
}

/* Properties lists */

dl.properties dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: 300;
}
dl.properties dt:after {
  content: ":";
}
dl.properties dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

/* Miscelaneous elements */

#query {
  width: 80%;
}

#map {
  height: 400px;
}

.error {
  color: #a40000;
  font-weight: 600;
}

.description {
  font-size: small;
}

.more {
  text-align: right;
  margin-top: 0;
}

/* Responsive tweaks */

@media screen and (max-width: 568px) {
  .wrapper {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  header, section, footer {
    margin: 20px 20px;
  }

  section section {
    margin: 10px 0;
  }
}

/* vim:set ts=2 sw=2 et: */
